.shops__box {
  min-height: 300px;
  padding: 10px;
  border: 2px solid blueviolet;
  border-radius: 6px;
}

.shops__title {
  color: purple;
  margin-bottom: 15px;
}

.shops__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}
