.shops__box {
  min-height: 300px;
  padding: 10px;
  border: 3px solid var(--main);
  border-radius: 6px;
}

.shops__title {
  color: var(--txt-main);
  margin-bottom: 15px;
  text-align: center;
}

.shops__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}
