.container {
  padding: 10px;
  margin-inline: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.summary {
  display: flex;
  justify-content: end;
  align-items: center;
}
